
<div class="container">
    <header class="header-section">
      <nav class="navbar-section">
        <div class="navbar-main__info">
          <h1 class="navbar-title">The Movie Tracker</h1>
          <div class="navbar-search__box">
            <form id="form">
              <input
                class="navbar-input"
                type="search"
                #input
                placeholder="Search a movie or a series"
                (input)="search(input.value)"
              />
              <img
                id="search-icon"
                src="../../assets/Images/search-icon.svg"
                alt="search-icon"
                srcset="../../assets/Images/search-icon.svg"
              />
            </form>
          </div>
        </div>
        <p><b>Showing search results for:</b> Incep</p>
      </nav>
    </header>
  </div>
  

  <div class="container">
    <section class="main-section">
      <div class="movies">
        <movie-card *ngFor="let movie of filteredMovies" [movie]="movie"></movie-card>
      </div>
    </section>
  </div>
  